name: fetch something

on:
  #push:
  workflow_dispatch:

jobs:

  FetchIt:
    runs-on: ubuntu-latest

    steps:
    - name: Fetch
      run: |
        wget https://web.archive.org/web/20021206002555/http://www.j-roen.net/diropener/download/files/castcopier100-800-1.zip
    - uses: actions/upload-artifact@v1
      with:
        name: artifacts
        path: ./
